body{
    background: #373b44; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #373b44, #4286f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #373b44, #4286f4);
}